.invalid{
    color:red;
}
.marginRight{
    margin-right: 5px !important;
}
.flex{
    display: flex;
}
.flexEnd{
    display: flex;
    justify-content: flex-end;
}
.cursor{
    cursor: pointer;
}
.flexSpacebetween{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.textRight{
    text-align: right;
    padding-bottom:20px;
}
.bulkMain{
    height: 100%;
}
.bulkButton{
    text-align: center;
    padding:5% 0;
}
.bulkMsg{
    padding:1% 0;
    margin:0 !important;
    font-size: 16px;
}
.MuiFormControl-marginNormal{
    margin-top: 8px !important;
}
.createUserForm{
    text-align: center;
    width:50%;
    margin:0 auto;
}
.form-message{
    text-align: left;
}
.form-group{
    margin:0;
}
.dailogMain{
    position: relative;
    text-align: center;
    overflow-x: hidden !important;
}
.MuiDialog-paper{
    overflow-x: hidden !important;
    padding:25px !important;
}
.closeIcon{
    position:absolute;
    right:0;
    top:0;
    padding:10px;
    transform:scale(1.2);
    cursor:pointer;
}
.subCategoryDrop{
    width:100%;
    text-align: left;
}